
nav.NavBar {
    background-color: #333;
    border-right: 3px solid #cb7a00;
    overflow: hidden;
    max-width: 8em;
    display: inline-block;
    
    /* Needed for the image centering. */
    text-align: center;
}

nav.NavBar img {
    width: 6em;
    margin: 1em;
    background-color: white;
}

nav.NavBar a {
    float: left;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

/* Hamburger button styling */
nav.NavBar button {
    display: none;
    /* Add more styling for your button here */
}

nav.NavBar a.inline {
    display: inline;
    float: unset;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/* Style adjustments for smaller screens */
@media (max-width: 768px) {
    nav.NavBar a,
    nav.NavBar img,
    nav.NavBar div,
    nav.NavBar a.inline {
        display: none;
    }

    nav.NavBar button {
        display: block;
    }

    nav.NavBar.isOpen div {
        display: inline-flex;
    }

    /* If the menu is open, we'll display the links */
    nav.NavBar.isOpen a {
        display: block;
    }

    nav.NavBar.isOpen a.inline {
        display: inline;
    }

}
